.search-box {
  margin: 36px !important;
}

.search-input {
  width: 520px;
}

.search-button {
  width: 56px;
}

.mat-card {
  margin: 12px;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

.link {
  cursor: pointer;
  width: 250px;
}

.link img {
  width: 220px;
  height: 345px;
}
